<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul id="menu">
                        <li>
                            <form method="post" action="/logout/">
                                <button id="logout">Log Out</button>
                            </form>
                        </li>
                </ul>
            </nav>
        </header>

        <form class = "addRemove" id = "addRemove" method = "post">
            <h1>Add or Remove</h1>
            <div class = "buttonholder">
                <button id="adduser" formaction="/adduser">Add New User</button>
            </div>
            <br>
            <div class = "buttonholder">
                <button id="addcar" formaction="/addcar">Add New Car</button>
            </div>
            <br>
            <div class = "buttonholder">
                <button id="removeuser" formaction="/removeuser">Remove User</button>
            </div>
            <br>
            <div class = "buttonholder">
                <button id="removecar" formaction="/removecar">Remove Car</button>
            </div>
        </form>  
    </body>
</html>