<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul id="menu">
                        <li>
                            <form method="post" action="/logout/">
                                <button id="logout">Log Out</button>
                            </form>
                        </li>
                </ul>
            </nav>
        </header>

        <form class = "view" id = "viewForm">
            <h1>Enter User ID</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h2>{{ message }}</h2>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type = "text" class = "removecriteria" id = "removecriteria" name = "removecriteria" placeholder = "Enter User ID" value = "" required>
            <div class = "buttonholder">
                <button id="removeuser" formaction="/removeuser">Remove</button>
            </div>
        </form>  
    </body>
</html>