<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul id="menu">
                        <li>
                            <form method="post" action="/logout/">
                                <button id="logout">Log Out</button>
                            </form>
                        </li>
                </ul>
            </nav>
        </header>

        <form class = "view" id = "viewForm">
            <h1>Change Number of Seats</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h2>{{ message }}</h2>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label>Enter Car ID</label>
            <input type = "text" class = "carid" id = "carid" name = "carid" placeholder = "Enter Car ID" value = "" required>
            <br>
            <label>Enter Number of Seats to Change</label>
            <input type = "number" class = "numseatstypechange" id = "numseatstypechange" name = "numseatstypechange" placeholder="Change Number of Seats" value = "" required>
            <div class = "buttonholder">
                <button id="change" formaction="/changenumseats">Change Number of Seats</button>
            </div>
        </form>  
    </body>
</html>